<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
	<import class="ch.qos.logback.core.ConsoleAppender" />

	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.aalku.joatse" level="DEBUG" />
	<logger name="org.aalku.joatse.cloud.proxy.jetty" level="DEBUG" />
	<logger name="org.aalku.joatse.cloud.tools.io.BandwithLimiter" level="INFO" />
	<logger name="org.aalku.joatse.cloud.web.jwt.JoatseTokenManager" level="INFO" />
	<logger name="org.eclipse.jetty.io" level="INFO" />
	
	<logger name="org.eclipse.jetty.proxy.AsyncProxyServlet" level="INFO" />
	<logger name="org.eclipse.jetty.websocket.core.internal.WebSocketCoreSession" level="WARN" />
	<logger name="org.eclipse.jetty.client.HttpDestination" level="WARN" />
	<logger name="org.eclipse.jetty.websocket.core.client" level="WARN" />
	
	<logger name="org.springframework.security.web.FilterChainProxy" level="INFO" /><!-- Enable with TRACE -->
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO" /><!-- Enable with TRACE -->
	
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>joatse.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>joatse.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>