<!DOCTYPE HTML>
<html lang="en">
<head> 
    <title>Joatse</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<!-- BootstapVue -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
	<script src="/lib/bootstrap-vue.min.js"></script>
	<!-- Load the following for BootstrapVueIcons support -->
	<script src="/lib/bootstrap-vue-icons.min.js"></script>
	<script src="./index.js" type="module"></script>
</head>
<body>
	<div class="container" id="app">
		<app-header></app-header>
		<br/>
		<h2 v-if="!sessions.sessions.length">Welcome to Joatse Cloud</h2>
		<div v-if="sessions.sessions.length">
			<h2>Your current sessions</h2>
			<div class="accordion" role="tablist">
				<b-card no-body class="mb-1" v-for="(s, iS) in sessions.sessions" :key="s.uuid">
					<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle.accordion-1 variant="outline-primary">Session from {{s.requesterAddress}} created at {{s.creationTime}}</b-button>
					</b-card-header>
					<b-collapse id="accordion-1" accordion="session-accordion" role="tabpanel">
						<b-card-body>
							<b-container fluid>
								<b-row>
									<b-col sm="4">
										<label :for="`s-ai-${s.uuid}`">Allowed IP address</label>
									</b-col>
									<b-col sm="8">
										<b-input-group>
										<b-form-input :id="`s-ai-${s.uuid}`" v-model="s.allowedAddress.join(',')" readonly></b-form-input>
											<b-input-group-append>
												<b-button variant="outline-secondary" @click="allowMyIP(s)"><b-icon-person-check/></b-button>
												<b-button variant="outline-secondary" @click="shareLink(s)" disabled><b-icon-share/></b-button>
												<b-button variant="outline-secondary" @click="clearAllowedIPs(s)" disabled><b-icon-x-circle-fill/></b-button>
											</b-input-group-append>
											<b-alert variant="success" :show="showCopiedToClipboard_shareLink" dismissible>Share link copied to clipboard</b-alert>
										</b-input-group>
									</b-col>
								</b-row>
							</b-container>
							<b-container fluid>
								<b-row v-for="(t, it) in s.tcpItems" :key="t.targetId">
									<b-col sm="4">
										<label :for="`tcp-s-${t.targetId}`">TCP Socket listening<span v-if="t.targetDescription"> -
												{{t.targetDescription}}</span></label>
									</b-col>
									<b-col sm="8">
										<b-form-input :id="`tcp-s-${t.targetId}`" v-model="t.description" readonly></b-form-input>
									</b-col>
								</b-row>
							</b-container>
							<b-container fluid>
								<b-row v-for="(h, ih) in s.httpItems" :key="h.targetId">
									<b-col sm="4">
										<label :for="`http-s-${h.targetId}`">HTTP Tunnel<span v-if="h.targetDescription"> -
												{{h.targetDescription}}</span></label>
									</b-col>
									<b-col sm="8">
										<b-input-group>
											<b-form-input :id="`http-s-${h.targetId}`" v-model="h.description" readonly></b-form-input>
											<b-input-group-append>
												<b-button variant="outline-secondary" @click="openHttpTunnel(s,h)"><b-icon-caret-right-square/></b-button>
											</b-input-group-append>
										</b-input-group>
									</b-col>
								</b-row>
							</b-container>

							<b-container fluid class="mt-3" v-if="s.preconfirmedShare">
								<b-row>
									<b-col sm="4">
										Pre-confirm command line argument
									</b-col>
									<b-col sm="8">
										<b-input-group>
											<b-form-input :id="`s-saved-${s.uuid}`" :value="`--preconfirmed=${s.preconfirmedShare.uuid}`" readonly></b-form-input>
											<b-input-group-append>
												<b-button variant="outline-secondary" @click="copyToClipboard(`--preconfirmed=${s.preconfirmedShare.uuid}`, 'showCopiedToClipboard_preconfirmed')">
													<b-icon-files />
												</b-button>
												<b-button variant="outline-secondary" @click="clearPreconfirm(s.preconfirmedShare.uuid)"><b-icon-x-circle-fill/></b-button>
											</b-input-group-append>
										</b-input-group>
										<b-alert variant="success" :show="showCopiedToClipboard_preconfirmed" dismissible>Copied to clipboard</b-alert>
									</b-col>
								</b-row>
							</b-container>
							<b-container fluid class="mt-3" v-if="!s.preconfirmedShare">
								<b-row>
									<b-col sm="4">
										You can pre-confirm this shared resource lot for later
									</b-col>
									<b-col sm="8">
										<b-button :id="`s-save-${s.uuid}`" variant="outline-secondary" @click="preconfirm(s)"><b-icon-box-arrow-in-down/></b-button>
									</b-col>
								</b-row>
							</b-container>


						</b-card-body>
					</b-collapse>
				</b-card>
			</div>
		</div>
		<div v-else>
			<p>You don't have open sessions</p>
			<p>In order to open a session you have to:
			<ol>
				<li>Run the joatse-target jar file with some arguments to share a port or resource.</li>
				<li>Open the confirmation URL you will receive. Open it in the same device that needs to open the connection as the IP
					address will be registered and it will be the only IP address admited later. If it's other person who need to
					connect then you can share the URL with them as long as you don't confirm it first.</li>
				<li>Following the URL log in to the cloud if you are asked to.</li>
				<li>Review the connection details and accept it.</li>
			</ol>
			</p>
		</div>
		<div v-if="sessions.preconfirmedShares.filter(x=>!x.onLiveSession).length">
			<h2>Your preconfirmed shares</h2>
			<div class="accordion" role="tablist">
				<b-card no-body class="mb-1" v-for="(ps, iPS) in sessions.preconfirmedShares.filter(x=>!x.onLiveSession)" :key="ps.uuid">
					<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle.accordion-1 variant="outline-primary">Preconfirmed share {{ps.uuid}}</b-button>
					</b-card-header>
					<b-collapse id="accordion-1" accordion="session-accordion" role="tabpanel">
						<b-card-body>
							<b-container fluid>
								<b-row v-for="(t, it) in ps.tcpTunnels" :key="t.targetId">
									<b-col sm="4">
										<label :for="`tcp-s-${t.targetId}`">TCP Socket listening<span v-if="t.targetDescription"> -
												{{t.targetDescription}}</span></label>
									</b-col>
									<b-col sm="8">
										<b-form-input :id="`tcp-s-${t.targetId}`" v-model="t.description" readonly></b-form-input>
									</b-col>
								</b-row>
							</b-container>
							<b-container fluid>
								<b-row v-for="(h, ih) in ps.httpTunnels" :key="h.targetId">
									<b-col sm="4">
										<label :for="`http-s-${h.targetId}`">HTTP Tunnel<span v-if="h.targetDescription"> -
												{{h.targetDescription}}</span></label>
									</b-col>
									<b-col sm="8">
										<b-form-input :id="`http-s-${h.targetId}`" v-model="h.description" readonly></b-form-input>
									</b-col>
								</b-row>
							</b-container>
							<b-container fluid class="mt-3">
								<b-row>
									<b-col sm="4">
										Pre-confirm command line argument
									</b-col>
									<b-col sm="8">
										<b-input-group>
											<b-form-input :value="`--preconfirmed=${ps.uuid}`" readonly></b-form-input>
											<b-input-group-append>
												<b-button variant="outline-secondary" @click="copyToClipboard(`--preconfirmed=${ps.uuid}`, 'showCopiedToClipboard_preconfirmed2')">
													<b-icon-files />
												</b-button>
												<b-button variant="outline-secondary" @click="clearPreconfirm(ps.uuid)"><b-icon-x-circle-fill/></b-button>
											</b-input-group-append>
										</b-input-group>
										<b-alert variant="success" :show="showCopiedToClipboard_preconfirmed2" dismissible>Copied to clipboard</b-alert>
									</b-col>
								</b-row>
							</b-container>
						</b-card-body>
					</b-collapse>
				</b-card>
			</div>
		</div>
	</div>
</body>
</html>
