<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Joatse - User administration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- BootstapVue -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="/admin/users.js" type="module"></script>
</head>

<body>
	<div class="container" id="app">
		<app-header></app-header>
		<br/>
		<h2>User administration</h2>
		<b-table
			:fields="fields"
			:items="userProvider"
			primary-key="UUID"
			head-variant="light"
			ref="users"
			foot-clone
	    >
			<template #cell(UUID)="data">
				<small :title="data.item.UUID">{{data.item.UUID.split('-')[0]+"..."}}<small>
			</template>
			<template #cell(actions)="data">
				<a href="#" v-if="data.item.canDelete" @click="editUser(data.item)"><b-icon-pencil-square></b-icon-pencil-square></a>
				<a href="#" v-if="data.item.canDelete" @click="deleteUser(data.item)"><b-icon-trash></b-icon-trash></a>
			</template>
			<template #foot()="data">
				&nbsp;
			</template>
			<template #foot(actions)="data">
				<a href="#" @click="addUser()"><b-icon-plus-square></b-icon-plus-square></a>
			</template>
		</b-table>
		<b-modal ref="editUserModal" :title="this.editUserTitle" @ok="editUserModalOk" @hidden="editUserModalReset" :ok-disabled="!formValid">
	  		<b-form @submit.stop.prevent v-if="editingUser">
				<div>
			        <label for="login">Login</label>
					<b-form-input
			          id="login"
			          v-model="editingUser.login"
			          type="text"
			          required
			          :state="loginState"
			        ></b-form-input>
					<label for="role">Role</label>
					<b-form-select id="role" v-model="editingUser.role" :options="roles"></b-form-select>
				</div>
				<div>
				    <label for="password">Password</label>
				    <b-form-input type="password" id="password" v-model="editingUser.password" aria-describedby="password-help-block" :state="passwordState"></b-form-input>
		    		<label v-if="editingUser.password?.length" for="password2">Confirm password</label>
				    <b-form-input v-if="editingUser.password?.length" type="password" id="password2" v-model="editingUser.password2" aria-describedby="password-help-block" :state="passwordConfirmState"></b-form-input>
				    <b-form-text id="password-help-block">
				      Your password must be 8-20 characters long, contain letters and numbers, and must not
				      contain spaces, special characters, or emoji.
				    </b-form-text>
				</div>
			</b-form>
		</b-modal>
	
	</div>
</body>

</html>