<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script type="text/javascript" th:inline="javascript">
		let hash = /*[[${hash}]]*/ null;
		window.history.replaceState(null, '', '/CF' + hash);
	</script>
	<style>
		html {font-size: 14px};
		@media (max-width: 767px) { 
		  html {
		    /* default is 1rem or 16px */ 
		    font-size: 25px; 
		  } 
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>JOATSE</h1>
		<h2>New connection request</h2>
		<br/>
		<h3>Connection details</h3>
		<form th:object="${tunnelRequest}">
			<div class="form-group">
				<label for="connectionRequesterAddress">Connection requester address</label>
				<input class="form-control" type="text" id="connectionRequesterAddress" th:value="*{connectionRequesterAddress}"
					disabled="disabled" />
			</div>
			<div class="form-group">
				<label for="creationTime">Request creation time</label>
				<input class="form-control" type="text" id="creationTime" th:value="*{creationTime}"
					disabled="disabled" />
			</div>
			<div class="form-group" th:each="item,it: ${tunnelRequest.items}">
				<h4 th:if="${tunnelRequest.items.size > 1}" th:text="|Tunnel item ${it.index + 1}|"></h4>
				<div class="form-group" th:if="${item.targetDescription != null && !item.targetDescription.isEmpty()}">
					<label for="targetDescription">Target description</label>
					<input class="form-control" type="text" id="targetDescription" th:value="${item.targetDescription}"
						disabled="disabled" />
				</div>
				<div class="form-group">
					<label for="targetHostname">Target host</label>
					<input class="form-control" type="text" id="targetHostname" th:value="${item.targetHostname}"
						disabled="disabled" />
				</div>
				<div class="form-group">
					<label for="targetPort">Target port</label>
					<input class="form-control" type="text" id="targetPort" th:value="${item.targetPort}"
						disabled="disabled" />
				</div>
			</div>
		</form>
		<h3>Acceptance</h3>
		<p>This connection will be available to you your public IP address only but not only to your person. Other people sharing the same IP address can connect to.</p>
		<p>If you want to connect from a different device or IP address then don't confirm this tunnel yet. Share this page address and open it from the device that needs to connect to this tunnel.</p>
		<form>
			<div class="form-group">
				<label for="allowedAddress">Allowed IP address</label>
				<input class="form-control" type="text" id="allowedAddress" th:value="${allowedAddress}"
					disabled="disabled" />
			</div>
		</form>
		
		<form th:object="${tunnelRequest}" method="post" action="/CF/A">
			<input type="hidden" name="uuid" th:value="${tunnelRequest.uuid}" />
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Confirm tunnel creation">
			</div>
		</form>
	</div>
</body>
</html>